{
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
